body{
    background-color:#e6e6e6;
    color:#6a2c70;
}
hr{
    border-width: 5px;
    border-color: #f08a5d;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
}
h1, h3{
    color: #b83b5e;
    font-family: Arial, Helvetica, sans-serif;
}
